<% require 'time' %>

<div data-role="page">
  <div data-role="header">
    <h3><%=h Localization::Views[:old_orders_in_total] % orders.length %></h3>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <% for order in orders
        next if not order['submissionDate']

        submissionDate = Time.iso8601(order['submissionDate'])
      %>
        <li><a href="<%= url_for :action => :show, :id => order['id'] %>"><%=h submissionDate.strftime("%A, %B #{ordinalize_day(submissionDate.day)} %Y") %> <p class="ui-li-aside"><%=h Localization::Views[:n_pictures] % order['pictureIds'].length %></p></a></li>
      <% end %>
    </ul>
  </div>

  <a href="javascript:location.reload()" data-role="button">Reload</a>
</div>
