<div data-role="page">
  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Tuesday, April 10th 2012 <p class="ui-li-aside">19 pictures</p></a></li>
      <li><a href="#">Wednesday, April 4th 2012 <p class="ui-li-aside">12 pictures</p></a></li>
      <li><a href="#">Saturday, February 11th 2012 <p class="ui-li-aside">199 pictures</p></a></li>
    </ul>
  </div>
</div>
