.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*._*
xcuserdata
xcuserdatad
xcworkspacedata
bin

mobiprint-web-service-db.json
Sample application/Web service/picture-upload