div.picture-gallery { margin-left: 0;
                      margin-right: 0;
                      margin-top: 10pt }
div.picture-gallery > table { margin: 0;
                              width: 100%;
                              table-layout: fixed;
                              border-collapse: separate;
                              border-spacing: 3pt }
tr.thumb img { width: 100% }
tr.state td { font-size: 9pt; padding-bottom: 10pt }
tr.state td > img { width: 12pt; vertical-align: middle }
tr.state td span { vertical-align: middle; margin-left: 4pt }

input.store-search { font-size: 11pt; font-weight: bold }
.stores li span { font-size: 9pt; color: #555 }
.stores li > span { font-weight: bold; color: #222 }